.pseudo-root {
    display: flex;
    justify-content: center;
}

.spot-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    width: 100%;
}

.heading {
    align-self: start;
    box-sizing: border-box;
    padding: 1em;
    padding-bottom: 0;
}

.heading h1 {
    font-size: 24pt;
    font-weight: bold;
}

.heading p {
    font-size: 14pt;
    margin-bottom: 0;
}

.pictures {
    width: 100%;
    display: flex;
    margin: 0 auto;
    padding: 0 auto;
}

.prev-img-container {
    width: 50%;
    box-sizing: border-box;
    object-fit: cover;
    padding: 1em;
    padding-right: 0;
    height: auto;
    float: left;
}

.preview-image {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.reg-img-container {
    object-fit: cover;
    width: 50%;
    box-sizing: border-box;
    padding: .5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    float: left;
}

.reg-image {
    box-sizing: border-box;
    padding: .5em;
    object-fit: cover;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.spot-info {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1em;
    padding-top: 0;
    border-bottom: 2px solid #000000;
}

.details {
    width: 100%;
    float: left;
}

.details h2 {
    margin-top: 0;
    margin-bottom: .5em;
    font-size: 18pt;
}

.details p {
    font-size: 14pt;
    margin: 0;
}

.reserve {
    font-size: 14pt;
    width: 15em;
    height: min-content;
    box-sizing: content-box;
    padding: 1em;
    padding-top: .5em;
    display: grid;
    grid-template-areas:
        'a b b'
        'c c c'
    ;
    border: 2px solid #000000;
    border-radius: 15px;
    float: right;
    margin-left: 1em;
}

.reserve-price {
    display: flex;
    align-items: center;
    grid-area: a;
}

.review-preview {
    grid-area: b;
}

.avg-review {
    display: flex;
    justify-content: end;
}

.avg-review span {
    margin-left: .25em;
}

.reserve button {
    font-size: 14pt;
    padding: .75em;
    margin-top: .5em;
    width: 100%;
    color: #FFFFFF;
    background-color: #FF5A5F;
    border: 2px solid #000000;
    box-shadow: 2px 2px #000000;
    grid-area: c;
    cursor: pointer;
}

.spot-reviews {
    align-self: start;
}

.spot-reviews h2 {
    margin: .5em 0;
}

.review {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid #CCCCCC;
}

.review p {
    font-size: 14pt;
    margin: .25em;
}

.review-date {
    color: #CCCCCC;
}

.review-delete {
    list-style: none;
    font-size: 14pt;
    color: #FFFFFF;
    background-color: #999999;
    border: 2px solid #000000;
    box-shadow: 2px 2px #000000;
    cursor: pointer;
}

.new-review {
    list-style: none;
    font-size: 14pt;
    color: #FFFFFF;
    background-color: #999999;
    border: 2px solid #000000;
    box-shadow: 2px 2px #000000;
    cursor: pointer;
    margin-bottom: 1em;
}

.fa-coins {
    margin-right: .25em;
    color: #999999;
}

.loading-container {
    margin-top: 10em;
    font-size: 14pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spinner {
    margin-right: 1em;
    border: 5px solid #CCCCCC;
    border-top: 5px solid #00525E;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.no-spot-found {
    margin-top: 5em;
    font-size: 24pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
