.hidden {
    display: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    width: auto;
    height: 70px;
    padding-right: 20px;
    padding-left: 20px;
    border-bottom: 2px solid #CCCCCC;
}

.home {
    display: flex;
    align-items: center;
}

.home img {
    width: 10em;
}

.create-spot {
    align-self: center;
}

.create-spot p {
    color: #00525E;
    margin: .5em;
}

.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile button {
    height: fit-content;
    align-self: center;
    color: #000000;
    font-size: 14pt;
    font-weight: bold;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 20px;
    cursor: pointer;
}

.profile button i {
    padding: .25em;
}

.profile-dropdown {
    font-size: 14pt;
    position: absolute;
    top: 3.5em;
    right: 1.5em;
    list-style-type: none;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 10px;
    filter: drop-shadow(1px 1px #000000);
    padding: .5em;
    margin-top: .25em;
}

.profile-dropdown li {
    padding: .25em;
}

.profile-dropdown button {
    font-weight: normal;
    color: #FFFFFF;
    border: 2px solid #000000;
    background-color: #999999;
    padding: .5em;
}

.manage-spots {
    text-align: center;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    cursor: pointer;
}

.manage-spots:hover {
    filter: drop-shadow(.5px .5px #000000);
}

.logout-button {
    display: flex;
    justify-content: center;
}

.logged-out {
    cursor: pointer;
}

.logged-out:hover {
    filter: drop-shadow(.5px .5px #000000);
}
